<!DOCTYPE html>
<html lang="en">
<head>
  <!-- fix viewport on mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add jQuery library -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

  <!-- Add mousewheel plugin (this is optional) -->
  <script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

  <!-- Add fancyBox -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js?v=2.1.5"></script>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <title>/r/gamedev SSS aggregator</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="moz_cookie_lib.js"></script>
  <script src="display_last_visit.js"></script>
</head>
<body>

<header id="hero">
  <h1><a href='{{submission_url}}'>{{submission_title}}</a></h1>
  {% comment %}<p><a href="{{album_url}}">Imgur Full Thumbnail Album</a></p>{% endcomment %}
  
  {% comment %}<div id="twitch-stream-wrap">
    <div id='twitch-stream'>
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
      <object class='contents'
              type="application/x-shockwave-flash"
              id="live_embed_player_flash"
              data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=cdnthe3rd" 
              bgcolor="#000000">
        <param  name="allowFullScreen" 
                value="true" />
        <param  name="allowScriptAccess" 
                value="always" />
        <param  name="allowNetworking" 
                value="all" />
        <param  name="movie" 
                value="http://www.twitch.tv/widgets/live_embed_player.swf" />
        <param  name="flashvars" 
                value="hostname=www.twitch.tv&channel=cdnthe3rd&auto_play=true" />
      </object>
    </div>
  </div>{% endcomment %}
</header>

<nav id="nav" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://sss.lemtzas.com">/r/gamedev SSS Viewer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="http://reddit.com/r/gamedev">/r/gamedev</a></li>
        <li><a href="{{submission_url}}">Thread</a></li>
        <li><a href="{{album_url}}">All Thumbnails</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/lemtzas/r-gamedev-screenshot-saturday"><i class='fa fa-github'></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Who?<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://twitter.com/lemtzas">Made and Maintained by @Lemtzas</a></li>
            <!--<li class="divider"></li>
            <li class="text-center"><strong>Special thanks to:</strong></li>
            <li><a href="#">Something else here</a></li>-->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="gen-info">
  <div id="generated">Generated <i class="fa fa-clock-o time"><span>{{now}}</span></i></div>
  <div id="seen">Last visit: <i class="fa fa-clock-o time"><span id='last_time'>You haven't seen these.</span></i></div>
</div>

<div id="wrap">
  <div class="row">
    <div id='explanation'>
      {{explanation_html}}
    </div>
  </div>
  <div id="thumbs">
    {% for post in posts %}
      <div class='tile'>
        <div class="tile-content">
          <a {% comment %}href='{{post.cover_url}}'{% endcomment %} class='ss-link fancybox' href="#{{post.fullname}}"style="background-image: url({{post.cover_bg}})">
            {% comment %}{% for image in post.images %}
              {% unless image.icon == blank %}
                <i class="{{image.icon}}"></i>
              {% else %}
                <i class="fa fa-image"></i>
              {% endunless %}
            {% endfor %}{% endcomment %}
          </a>
          <div class='meta-wrap'>
            <a href='{{post.url}}' class='reddit'><i class='fa fa-reddit'></i></a>
            {% for item in post.related %}<a href='{{item.link}}' class='{{item.class}}'><i class='{{item.icon}}'></i></a>{% endfor %}
            
            <span class="images">
              (
              {% for icon in post.icons %}
                {% comment %}<div class="icon">{% endcomment %}
                  <i class="image {{icon.icon}}"></i>
                {% comment %}</div>{% endcomment %}
              {% endfor %}
              )
            </span>

            <i class="fa fa-clock-o time"><span>{{post.time_after}}</span></i>
          </div>
          <div class='title-wrap'>
            {% if post.title %}
              <a href='{{post.url}}' class="post_title">{{post.title}}</a>
            {% elsif post.twitter_link %}
              <a href='{{post.twitter_link}}'>@{{post.twitter_handle}}</a>
            {% else %}
              <a href='{{post.url}}' class='author'>/u/{{post.author}}</a>
            {% endif %}
          </div>
          <div class="body-wrap" id="{{post.fullname}}">{{post.html}}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<!--<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox({
    afterShow: function() {
        $(".fancybox-title").wrapInner('<div />').show();
        
        $(".fancybox-wrap").hover(function() {
            $(".fancybox-title").show();
        }, function() {
            $(".fancybox-title").hide();
        });
    },
    helpers : {
        title: {
            type: 'over'
        }
    } 
});
  });
</script>-->
</body>

<!--Last Seen Script-->
<script>
  if(docCookies.hasItem("{{fullname}}_after")) {
    document.getElementById("last_time").innerHTML = docCookies.getItem("{{fullname}}_after") + " after the post.";
  }
  docCookies.setItem("{{fullname}}_after","{{last_time_after_text}}", {{last_time_expiry}})
</script>

<script>
var channel = 'cdnthe3rd';
function twitch(data) {
   $('#twitch-stream').removeClass('hidden');
}
</script>
<script src="http://api.twitch.tv/kraken/streams/cdnthe3rd?callback=twitch"></script>

<script>
  $(document).ready(function () {
    $(".fancybox").fancybox({
        maxWidth: '800px',
        // height: '10%',
        // fitToView: false,
        autoSize: true,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none',
        helpers: {
           overlay: {
              locked: true 
           }
        },
        beforeShow: function () {
            //TODO: only play the video we just opened?
            //$("video").get(0).play();
            //TODO: stop videos after we close them?
        }
    });
  });
</script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45899922-3', 'auto');
  ga('send', 'pageview');

</script>

</html>
