<!DOCTYPE html>
<html lang="en">
<head>
  <!-- fix viewport on mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add jQuery library -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

  <!-- Add mousewheel plugin (this is optional) -->
  <script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

  <!-- Add fancyBox -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js?v=2.1.5"></script>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <title>/r/gamedev SSS aggregator</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="moz_cookie_lib.js"></script>
  <script src="display_last_visit.js"></script>
</head>
<body>

<header id="hero">
  <h1><a href='{{submission_url}}'>{{submission_title}}</a></h1>
  <p>Generated on {{now}}</p>
  {% comment %}<p><a href="{{album_url}}">Imgur Full Thumbnail Album</a></p>{% endcomment %}
  <p id='last_time'>You haven't seen these.</p>
</header>

<nav id="nav" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://sss.lemtzas.com">/r/gamedev Screenshot Saturday Viewer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="http://reddit.com/r/gamedev">/r/gamedev</a></li>
        <li><a href="{{submission_url}}">Thread</a></li>
        <li><a href="{{album_url}}">All Thumbnails</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/lemtzas/r-gamedev-screenshot-saturday"><i class='fa fa-github'></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Who?<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://twitter.com/lemtzas">Made and Maintained by @Lemtzas</a></li>
            <!--<li class="divider"></li>
            <li class="text-center"><strong>Special thanks to:</strong></li>
            <li><a href="#">Something else here</a></li>-->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="wrap">
  <div class="row">
    <div id='explanation'>
      {{explanation_html}}
    </div>
  </div>
  <div id="thumbs">
    {% for post in posts %}
      <div class='tile'>
        <div class="tile-content">
          <a href='{{post.cover_url}}' class='ss-link fancybox' style="background-image: url({{post.cover_bg}})">
            {% if post.cover_url %}
              <i class="{{post.cover_icon}}"></i>
            {% endif %}
          </a>
          <div class='meta-wrap'>
            <a href='{{post.url}}' class='reddit'><i class='fa fa-reddit'></i></a>
            {% for item in post.related %}
              <a href='{{item.link}}' class='{{item.class}}'><i class='{{item.icon}}'></i></a>
            {% endfor %}
            <span class="time">{{post.time_after}} after</span>
          </div>
          <div class='title-wrap'>
            {% if post.title %}
              <a href='{{post.url}}' class="post_title">{{post.title}}</a>
            {% elsif post.twitter_link %}
              <a href='{{post.twitter_link}}'>@{{post.twitter_handle}}</a>
            {% else %}
              <a href='{{post.url}}' class='author'>/u/{{post.author}}</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
  if(docCookies.hasItem("{{fullname}}_after")) {
    document.getElementById("last_time").innerHTML = docCookies.getItem("{{fullname}}_after");
  }
  docCookies.setItem("{{fullname}}_after","You were last here {{last_time_after_text}} after the post.", {{last_time_expiry}})
</script>
<!--<script type="text/javascript">
  $(document).ready(function() {
    $(".fancybox").fancybox({
    afterShow: function() {
        $(".fancybox-title").wrapInner('<div />').show();
        
        $(".fancybox-wrap").hover(function() {
            $(".fancybox-title").show();
        }, function() {
            $(".fancybox-title").hide();
        });
    },
    helpers : {
        title: {
            type: 'over'
        }
    } 
});
  });
</script>-->
</body>
</html>